
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
 
--foreground: #ffffff;
  --background: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground: #0a0a0a;
    --background: #ededed; */
    --foreground: #ffffff;
  --background: #171717;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: var(--font-balsamiq), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
